:root {
  --ui-scale: 1;
  --default-html-font-size: 48%;
  --default-html-font-size-1600: 50%;
  --default-html-font-size-1920: 62%;
  --base-html-font-size: calc(var(--default-html-font-size) * var(--ui-scale));
  --base-html-font-size-1600: calc(var(--default-html-font-size-1600) * var(--ui-scale));
  --base-html-font-size-1920: calc(var(--default-html-font-size-1920) * var(--ui-scale));
  --tooltip-width: 17rem;
  --card-border-width: 0;
  --sidebar-border-width: 0;
  --input-border-width: 0;
  --sidebar-minimised: 0px;
  --sidebar-width: 0px;
  --default-bottombar-height: 7rem;
  --bottombar-height: var(--default-bottombar-height);
  --nav-button-size: 3.1rem;
  --statusbar-height: 28px;
  /* Injected by Capacitors SystemBars plugin */
  --safe-area-top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
  --safe-area-bottom: var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0px));
  --safe-area-left: var(--safe-area-inset-left, env(safe-area-inset-left, 0px));
  --safe-area-right: var(--safe-area-inset-right, env(safe-area-inset-right, 0px));
  /* Injected by our MainActivity. */
  --safe-area-notch-right: var(--notch-inset-right, 0px);
  --safe-area-navigation-right: var(--navigation-inset-right, 0px);
  --safe-area-navigation-bottom: var(--navigation-inset-bottom, 0px);
  --safe-area-gesture-bottom: var(--gesture-inset-bottom, 0px);

  --accent-color: #e5204c;
  --highlight-color: #FFFFFF !important;
  --current-color: #3DB4F2 !important;
  --planning-color: #F79A63 !important;
  --completed-color-hue: 110deg;
  --completed-color-saturation: 60%;
  --completed-hsl: var(--completed-color-hue), var(--completed-color-saturation), 58%;
  --completed-color: hsl(var(--completed-hsl)) !important;
  --completed-dim-hsl: var(--completed-color-hue), var(--completed-color-saturation), 42%;
  --completed-color-dim: hsl(var(--completed-dim-hsl)) !important;
  --paused-color: #FA7A7A !important;
  --repeating-color: #3BAEEA !important;
  --dropped-color: #E85D75 !important;
  --notify-color: #Af68FA !important;
  --dark-color-base-hue: 220deg !important;
  --dark-color-base-saturation: 10% !important;
  --dark-color-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 10% !important;
  --dark-color-light-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 14%;
  --dark-color-very-light-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 16%;
  --dark-color-dim-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 8%;
  --dark-color-very-dim-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 4%;
  --dm-shadow: 0px 4px 7px hsla(var(--black-color-hsl), 0.25);
  --gray-color-base-hue: 216;
  --gray-color-light: hsl(var(--gray-color-light-hsl));
  --gray-color-light-hsl: var(--gray-color-base-hue), 10%, 28%;
  --gray-color-very-dim-hsl: var(--gray-color-base-hue), var(--gray-color-base-saturation), 35%;
  --green-color-base-hue: 106;
  --green-color-base-saturation: 100%;
  --green-color-hsl: var(--green-color-base-hue), var(--green-color-base-saturation), 27%;
  --green-color-light-hsl: var(--green-color-base-hue), var(--green-color-base-saturation), 40%;
  --red-color-very-dim-hsl: var(--red-color-base-hue), 66%, 15%;
  --white-color-hue: 0deg;
  --white-color-saturation: 0%;
  --white-color-dim-hsl: var(--white-color-hue), var(--white-color-saturation), 60%;
  --white-color-dim: hsl(var(--white-color-dim-hsl));
  --white-color-very-dim-hsl: var(--white-color-hue), var(--white-color-saturation), 50%;
  --white-color-very-dim: hsl(var(--white-color-very-dim-hsl));
  --warning-color-base-hue: 48;
  --warning-color-base-saturation: 80%;
  --warning-color-hsl: var(--warning-color-base-hue), var(--warning-color-base-saturation), 46%;
  --warning-color: hsl(var(--warning-color-hsl)) !important;
  --warning-color-dim-hsl: var(--warning-color-base-hue), var(--warning-color-base-saturation), 31%;
  --warning-color-dim: hsl(var(--warning-color-dim-hsl)) !important;
  --warning-color-very-dim-hsl: var(--warning-color-base-hue), var(--warning-color-base-saturation), 19%;
  --warning-color-very-dim: hsl(var(--warning-color-very-dim-hsl)) !important;
  --error-color-hue: 0deg;
  --error-color-saturation: 89%;
  --error-hsl: var(--error-color-hue), var(--error-color-saturation), 15%;
  --error-color: hsl(var(--error-hsl));
  --error-color-light-hsl: var(--error-color-hue), var(--error-color-saturation), 25%;
  --error-color-light: hsl(var(--error-color-light-hsl));
  --error-color-very-light-hsl: var(--error-color-hue), var(--error-color-saturation), 35%;
  --error-color-very-light: hsl(var(--error-color-very-light-hsl));
  --myanimelist-color-hue: 221deg;
  --myanimelist-color-saturation: 57%;
  --myanimelist-color-hsl: var(--myanimelist-color-hue), var(--myanimelist-color-saturation), 40%;
  --myanimelist-color: hsl(var(--myanimelist-color-hsl));
  --myanimelist-color-light-hsl: var(--myanimelist-color-hue), var(--myanimelist-color-saturation), 55%;
  --myanimelist-color-light: hsl(var(--myanimelist-color-light-hsl));
  --anilist-color-hue: 215deg;
  --anilist-color-saturation: 25%;
  --anilist-color-hsl: var(--anilist-color-hue), var(--anilist-color-saturation), 21%;
  --anilist-color: hsl(var(--anilist-color-hsl));
  --anilist-color-light-hsl: var(--anilist-color-hue), var(--anilist-color-saturation), 35%;
  --anilist-color-light: hsl(var(--anilist-color-light-hsl));
  --tertiary-color-hue: 217deg;
  --tertiary-color-saturation: 77%;
  --tertiary-color-hsl: var(--tertiary-color-hue), var(--tertiary-color-saturation), 54%;
  --tertiary-color: hsl(var(--tertiary-color-hsl)) !important;
  --tertiary-color-light-hsl: var(--tertiary-color-hue), var(--tertiary-color-saturation), 64%;
  --tertiary-color-light: hsl(var(--tertiary-color-light-hsl)) !important;
  --tertiary-color-very-light-hsl: var(--tertiary-color-hue), var(--tertiary-color-saturation), 79%;
  --tertiary-color-very-light: hsl(var(--tertiary-color-very-light-hsl)) !important;
  --tertiary-color-dim-hsl: var(--tertiary-color-hue), var(--tertiary-color-saturation), 30%;
  --tertiary-color-dim: hsl(var(--tertiary-color-dim-hsl)) !important;
  --quaternary-color: #98C379 !important;
  --quinary-color: #D7060A !important;
  --senary-color: #FFD600 !important;
  --septenary-color: #8927FF !important;
  --octonary-color: #FF6B35 !important;
  --denary-color: #BC2023 !important;
  --undenary-color-hue: 240deg;
  --undenary-color-saturation: 100%;
  --undenary-color-hsl: var(--undenary-color-hue), var(--undenary-color-saturation), 90%;
  --undenary-color: hsl(var(--undenary-color-hsl)) !important;
  --undenary-color-dim-hsl: var(--undenary-color-hue), var(--undenary-color-saturation), 84%;
  --undenary-color-dim: hsl(var(--undenary-color-dim-hsl)) !important;
  --duodenary-color: #FFFFF0 !important;
  --quattuordenary-color: #FA68B6 !important;
  --nonary-color: #F7931E !important;
  --quindenary-color: #FFB088 !important;

  --dark-color-glass: hsla(var(--dark-color-hsl), .8);
  --border-color-sp: hsla(var(--gray-color-dim-hsl), 0.2);
  --dm-input-border-color: none;
  --dm-link-text-color: var(--dm-muted-text-color) !important;
  --dm-link-text-color-hover: var(--dm-text-color) !important;
  --skeleton-swipe-background: var(--dark-color-light);
  --sidebar-gradient: linear-gradient(90deg, var(--dark-color) 15.62%, hsla(var(--dark-color-hsl), 0.92) 36.46%, hsla(var(--dark-color-hsl), 0.62) 70.83%, hsla(var(--black-color-hsl), 0) 100%);
  --banner-gradient-bottom: linear-gradient(0deg, var(--dark-color) 0%, hsla(var(--dark-color-hsl), 0) 15%, hsla(var(--dark-color-hsl), 0) 100%);
  --banner-gradient-left: linear-gradient(90deg, var(--dark-color) 0%, rgba(23, 25, 29, 0.5) 75%, rgba(25, 28, 32, 0) 100%);
  --torrent-card-gradient: linear-gradient(90deg, hsla(var(--dark-color-hsl), 0.98) 25%, hsla(var(--dark-color-light-hsl), 0.85) 100%);
  --torrent-banner-gradient: linear-gradient(0, var(--dark-color-dim) 15%, hsla(var(--dark-color-very-dim-hsl), 0.64) 85%), linear-gradient(to left, var(--dark-color-dim) 0, transparent 1%);
  --notification-card-gradient: linear-gradient(90deg, hsla(var(--dark-color-light-hsl), 0.98) 32%, hsla(var(--dark-color-hsl), 0.85) 100%);
  --episode-card-gradient: linear-gradient(180deg, hsla(var(--black-color-hsl), 0) 77.08%, hsla(var(--dark-color-light-hsl), 0.7) 100%);
  --episode-preview-card-gradient: linear-gradient(180deg, hsla(var(--black-color-hsl), 0) 0%, hsla(var(--black-color-hsl), 0) 80%, var(--dark-color-light) 100%);
  --preview-card-end-gradient: linear-gradient(180deg, hsla(var(--black-color-hsl), 0) 0%, hsla(var(--black-color-hsl), 0) 85%, hsla(var(--dark-color-light-hsl), 0.85) 95%, var(--dark-color-light) 98%);
  --preview-card-trailer-gradient: linear-gradient(180deg, hsla(var(--black-color-hsl), 0) 0%, hsla(var(--black-color-hsl), 0) 85%, hsla(var(--dark-color-light-hsl), 0.85) 95%, var(--dark-color-light) 98%, var(--dark-color-light) 100%);
  --section-end-gradient: linear-gradient(270deg, hsla(var(--dark-color-hsl), 1) 0%, hsla(var(--dark-color-light-hsl), 0) 100%);

  --theme-color: var(--dark-color) !important;
  color-scheme: dark;
}

@font-face {
  font-family: "Roboto";
  src: /* webpackIgnore: true */ url(Roboto.ttf) format("truetype");
  unicode-range: U+0000, U+0002, U+0009, U+000D, U+0020-007E, U+00A0-0377,
      U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
      U+03F0-052F, U+1AB0-1ABE, U+1D00-1DF5, U+1DFC-1F15, U+1F18-1F1D,
      U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D,
      U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB,
      U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-2027, U+202F-205F,
      U+2070-2071, U+2074-208E, U+2090-209C, U+20A0-20BE, U+20DB-20DC,
      U+20E3, U+20E8, U+20F0, U+2100-2101, U+2103, U+2105-2106, U+2109,
      U+2113, U+2116-2117, U+211E-2123, U+2125-2126, U+212A-212B, U+212E,
      U+2132, U+213B, U+214D, U+214F-2189, U+2191, U+2193, U+2202, U+2206,
      U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260,
      U+2264-2265, U+2423, U+25CA, U+2669-266F, U+27E6-27EF, U+2B4E-2B4F,
      U+2B5A-2B5F, U+2C60-2C7F, U+2DE0-2E42, U+A640-A69D, U+A69F,
      U+A700-A7AD, U+A7B0-A7B1, U+A7F7-A7FF, U+A92E, U+AB30-AB5F,
      U+AB64-AB65, U+EE01-EE02, U+F6C3, U+FB00-FB06, U+FE20-FE2D, U+FEFF,
      U+FFFC-FFFD, U+1F16A-1F16B;
}

@font-face {
  font-family: "Twemoji";
  src: /* webpackIgnore: true */ url(Twemoji.ttf) format("truetype");
  unicode-range: U+1F1E6-1F1FF;
}

.dark-mode {
  background-color: var(--dark-color) !important;
}

.profile-safe-height {
  max-height: calc(100% - var(--safe-area-top) - var(--safe-area-bottom));
}

.h-0 {
  height: 0;
}
.h-3 {
  height: 3rem !important;
}
.h-15 {
  height: 1.5rem;
}
.h-20 {
  height: 2rem !important;
}
.h-30 {
  height: 3rem;
}
.h-40 {
  height: 4rem;
}
.h-80 {
  height: 8rem;
}
.h-140 {
  height: 14rem;
}
.h-165 {
  height: 16.5rem !important;
}
.h-270 {
  height: 27rem;
}
.hm-20 {
  min-height: 20rem !important;
}
.mh-full {
  max-height: 100%;
}

.w-20 {
  width: 2rem;
}
.w-30 {
  width: 3rem !important;
}
.w-40 {
  width: 4rem;
}
.w-80 {
  width: 8rem;
}
.w-90 {
  width: 9rem;
}
.w-115 {
  width: 11.5rem;
}
.w-120 {
  width: 12rem;
}
.w-130 {
  width: 13rem;
}
.w-160 {
  width: 16rem;
}
.w-170 {
  width: 17rem;
}
.w-180 {
  width: 18rem;
}
.w-220 {
  width: 22rem;
}
.w-800 {
  width: 80rem !important
}
.w-1000 {
  width: 100rem
}

.rounded-left-block {
  border-radius: var(--base-border-radius) 0 0 var(--base-border-radius) !important;
}

.rounded-right-block {
  border-radius: 0 var(--base-border-radius) var(--base-border-radius) 0 !important;
}

.vh-60 {
  max-height: 60vh !important;
}

.wh-25 {
  width: 2.5rem;
  height: 2.5rem;
}

.fluid-min-width {
  width: max-content !important;
  min-width: min(80rem, calc(100% - 4rem)) !important;
}

.mw-0 {
  min-width: 0;
}
.mw-80 {
  min-width: 8rem !important;
}
.mw-100 {
  min-width: 10rem !important;
}
.mw-120 {
  min-width: 12rem;
}
.mw-150 {
  min-width: 15rem;
}
.mw-180 {
  min-width: 18rem;
}
.mw-200 {
  min-width: 20rem;
}
.mw-220 {
  min-width: 22rem;
}
.mw-350 {
  min-width: 35rem;
}

.wm-250 {
  max-width: 25rem;
}
.wm-300 {
  max-width: 30rem;
}
.wm-350 {
  max-width: 35rem;
}
.wm-600 {
  max-width: 60rem;
}
.wm-1000 {
  max-width: 100rem;
}
.wm-1150 {
  max-width: 115rem;
}
.wm-1200 {
  max-width: 120rem;
}

.hm-250 {
  max-height: 25rem;
}
.hm-400 {
  max-height: 40rem;
}

@media (min-width: 769px) {
  :root {
    --sidebar-minimised: 7rem;
    --sidebar-width: 7rem;
    --bottombar-height: 0rem;
  }
}

.cr-400 {
  height: 40rem !important;
}
.cr-380 {
  height: 38rem !important;
}
.cover-rotated {
  width: 20rem !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.d-contents {
  display: contents;
}

.top-100 {
  top: 100%
}

.status-transition {
  transition: height .3s ease 2s, padding .3s ease 2s, top .3s ease 2s;
}
.opacity-ts-3 {
  transition: opacity .3s ease-in-out;
}

.scrollbar-none {
  scrollbar-width: none;
}

.flex-1 {
  flex: 1;
}

.line-height-1 {
  line-height: 1;
}

.line-height-normal {
  line-height: normal;
}

.line-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-break-word {
  word-break: break-word;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a[href]:active, button:not([disabled], .not-reactive):active:not([data-sonner-toast] > button), fieldset:not([disabled]):active, input:not([disabled], [type='range'], .not-reactive):active, optgroup:not([disabled]):active, option:not([disabled]):active, select:not([disabled]):active, textarea:not([disabled]):active, details:active, [tabindex]:not([disabled], [tabindex="-1"], [aria-hidden="true"], .seekbar, .dropdown, .scoring, .not-reactive):active, [contenteditable]:active, [controls]:active {
  transition: box-shadow 0.1s ease, filter 0.1s ease !important;
  filter: brightness(0.95) contrast(1.05) !important;
  box-shadow: 0 0 2rem hsla(var(--black-color-hsl), 0.1), 0 .4rem .6rem hsla(var(--black-color-hsl), 0.05) !important;
  transform: translateY(0.15rem) !important;
}

.btn-secondary {
  --dm-button-secondary-bg-color: var(--white-color) !important;
  --dm-button-secondary-bg-color-hover: var(--white-color-dim) !important;
  --dm-button-secondary-bg-color-focus: var(--dm-button-secondary-bg-color) !important;
}

[data-sonner-toaster][data-theme='dark'] {
  top: 5rem !important;
  --normal-bg: var(--dark-color) !important;
  --normal-border: none !important;
  --normal-text: var(--dm-base-text-color) !important;

  /* --success-bg: var(--success-color) !important; */
  --success-border: none !important;
  /* --success-text: var(--lm-base-text-color) !important; */

  /* --error-bg: hsl(358, 76%, 10%); */
  --error-border: none !important;
  /* --error-text: hsl(358, 100%, 81%); */
}

[data-sonner-toast] > button {
  position: absolute !important;
  margin-left: 94% !important;
  right: 0 !important;
  margin-top: 1.4rem !important;
  border-radius: .4rem !important;
  border-color: transparent !important;
  background-color: transparent !important;
  color: hsla(var(--white-color-hsl), 0.93) !important;
}

[data-sonner-toast] > button svg {
  width: 2rem !important;
  height: 2rem !important;
  stroke-width: 2.5 !important;
}

[data-sonner-toast] > div:nth-child(2) > div:first-child {
  line-height: 1.1 !important;
}

[data-sonner-toaster] [data-description] {
  white-space: pre-wrap;
}

.first-audio {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-right: -.3rem !important;
}

.vertical-flip {
  transform: scaleY(-1);
}

.banner-rotated {
    width: 100vh !important;
    height: 100vw !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.blur-6 {
  filter: blur(.6rem) saturate(1.5);
}

.img-spoiler {
  filter: blur(1rem) brightness(.65) saturate(.4) !important;
}
.text-spoiler {
  color: transparent !important;
  text-shadow: 0 0 .6rem hsla(var(--white-color-hsl), .4) !important;
  user-select: none !important;
}

.z--1 {
  z-index: -1 !important;
}
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
.z-4 {
  z-index: 4 !important;
}
.z-5 {
  z-index: 5 !important;
}
.z-11 {
  z-index: 11 !important;
}
.z-45 {
  z-index: 45;
}
.z-55 {
  z-index: 55;
}
.z-79 {
  z-index: 79 !important;
}
.z-80 {
  z-index: 80 !important;
}
.z-100 {
  z-index: 100;
}
.z-101 {
  z-index: 101 !important;
}
.z-102 {
  z-index: 102;
}
.z-105 {
  z-index: 105 !important;
}
.z-110 {
  z-index: 110 !important;
}

.text-dark-light {
  color: var(--gray-color-light);
}

.custom-link {
    color: var(--tertiary-color);
    cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .custom-link:hover {
      text-decoration: underline;
      color: var(--tertiary-color-dim);
  }
}

.grab {
  cursor: grab;
}
.grab:active {
  cursor: grabbing !important;
}
.pointer {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}
.cursor-wait {
  cursor: wait !important;
}
.cursor-default {
  cursor: default;
}
.touch-none {
  touch-action: none;
}

.clip-0 {
  clip-path: inset(0 0 0 0)
}

.clip-0-rounded {
  clip-path: inset(0 0 0 0 round var(--base-border-radius))
}

.pv-trailer {
  height: 200%;
  top: 50%;
  transform: translate(0, -50%);
}

.mb--3 {
  margin-bottom: -.3rem !important;
}
.mb--7 {
  margin-bottom: -.7rem !important;
}
.mb-1 {
  margin-bottom: .1rem !important;
}
.mb-4 {
  margin-bottom: .4rem !important;
}
.mb-8 {
  margin-bottom: .8rem !important;
}
.mb-25 {
  margin-bottom: 2.5rem;
}
.mb-30 {
  margin-bottom: 3rem;
}
.mb-90 {
  margin-bottom: 9rem;
}

.ml--1 {
  margin-left: -1rem;
}
.ml--10 {
  margin-left: -1rem !important;
}

.mt--10 {
  margin-top: -1rem !important;
}
.mt-2 {
  margin-top: .2rem;
}
.mt-3 {
  margin-top: 0.3rem;
}
.mt-4 {
  margin-top: .4rem;
}
.mt-30 {
  margin-top: 3rem !important;
}
.mt-70 {
  margin-top: 7rem;
}

.my-3 {
  margin-top: .3rem !important;
  margin-bottom: .3rem !important;
}

.pt-28px {
  padding-top: 28px;
}

.pb-1 {
  padding-bottom: .1rem !important;
}
.pb-13 {
  padding-bottom: 1.3rem !important;
}

.mt-safe-area-10 {
  margin-top: max(var(--safe-area-top), 1rem) !important;
}
.mt-safe-area {
  margin-top: var(--safe-area-top) !important;
}
.mb-safe-area {
  margin-bottom: var(--safe-area-bottom) !important;
}
.pt-safe-area {
  padding-top: var(--safe-area-top) !important;
}
.pl-safe-area {
  padding-left: var(--safe-area-left) !important;
}
.pr-notch-safe-area {
  padding-right: var(--safe-area-notch-right) !important;
}
.mb-navigation-safe-area {
  margin-bottom: var(--safe-area-navigation-bottom) !important;
}
.mr-navigation-safe-area {
  margin-right: var(--safe-area-navigation-right) !important;
}
.pr-navigation-safe-area {
  padding-right: var(--safe-area-navigation-right) !important;
}
.pr-navigation-safe-area::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(var(--safe-area-navigation-right) - .10rem);
  width: min(.10rem, var(--safe-area-navigation-right));
  background: var(--border-color-sp);
  z-index: 45;
}

.h-10 {
  height: 1rem !important;
}
.h-25 {
  height: 2.5rem !important;
}

.fit-content {
  width: fit-content !important;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  font-family: 'Nunito Variable';
}

.font-weight-very-bold {
  font-weight: 900;
}

.bg-black {
  background: var(--black-color);
}

.text-octonary {
  color: var(--octonary-color) !important;
}

.text-warning-dim {
  color: var(--warning-color-dim) !important;
}
.text-warning-very-dim {
  color: var(--warning-color-very-dim) !important;
}
.bg-warning {
  border-color: var(--warning-color) !important;
  background-color: var(--warning-color) !important;
}
.border-warning-dim {
  border-color: var(--warning-color-dim) !important;
}

.bg-error {
  border-color: var(--error-color) !important;
  background-color: var(--error-color) !important;
}
.border-error-light {
  border-color: var(--error-color-light) !important;
}

.bg-muted {
  border-color: var(--dm-muted-text-color) !important;
  background-color: var(--dm-muted-text-color) !important;
}

.bg-quinary {
  border-color: var(--quinary-color) !important;
  background-color: var(--quinary-color) !important;
}

.bg-senary {
  border-color: var(--senary-color) !important;
  background-color: var(--senary-color) !important;
}

.bg-septenary {
  border-color: var(--septenary-color) !important;
  background-color: var(--septenary-color) !important;
}

.bg-octonary {
  border-color: var(--octonary-color) !important;
  background-color: var(--octonary-color) !important;
}

.bg-current {
  border-color: var(--current-color) !important;
  background-color: var(--current-color) !important;
}

.bg-denary {
  border-color: var(--denary-color) !important;
  background-color: var(--denary-color) !important;
}

.bg-undenary {
  border-color: var(--undenary-color) !important;
  background-color: var(--undenary-color) !important;
}

.bg-duodenary {
  border-color: var(--duodenary-color) !important;
  background-color: var(--duodenary-color) !important;
}

.bg-blur {
  background: hsla(var(--black-color-hsl), .45);
  backdrop-filter: blur(16px) saturate(160%);
  -webkit-backdrop-filter: blur(16px) saturate(160%);
}

.alert {
  border: 0;
  border-left: .8rem solid;
  border-radius: .3rem;
}

.anime-details {
    opacity: 0.5;
    z-index: 0;
    aspect-ratio: 5/1;
    min-height: 20rem;
}

:not(.svelte-keybinds *).transparent {
  opacity: 0;
  pointer-events: none;
}

.opacity-55 {
  opacity: .55;
}
.opacity-90 {
  opacity: .9;
}

.inset-0 {
  inset: 0;
}

.gap-5 {
  gap: .5rem;
}
.gap-10 {
  gap: 1rem !important;
}

.btn:disabled {
  opacity: 0.3 !important;
}

img {
  -webkit-user-drag: none;
}

.ratio-16-9 {
    aspect-ratio: 16/9;
}

.select-all {
  user-select: all;
}

img[src=''], img[src=' '] {
  display: none;
}

::-webkit-inner-spin-button {
  display: none;
}

*:focus-visible {
  outline: none;
  border-radius: .5rem;
  box-shadow: inset 0 0 0 .4rem var(--tertiary-color) !important;
}

@media (hover: none), (pointer: coarse) {
  [data-toggle="tooltip"]:focus::before {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.2s !important;
  }
  [data-toggle="tooltip"]:hover::before {
    visibility: hidden;
    opacity: 0;
  }
}
@media (hover: hover) and (pointer: fine) {
  [data-toggle="tooltip"]:focus-visible::before {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.2s !important;
  }
  [data-toggle="tooltip"]:focus::before {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.btn-secondary:focus-visible {
  box-shadow: inset 0 0 0 1.5px var(--black-color) !important;
}

.modal-soft-ellipse {
  background: radial-gradient(ellipse at center, transparent 0%, hsla(var(--black-color-hsl), 0.85) 100%), hsla(var(--black-color-hsl), 0.65) !important;
  backdrop-filter: blur(8px) !important;
}
.modal:focus-visible {
  box-shadow: none !important;
}

.icon-shadow {
  filter: drop-shadow(0 0 .4rem hsla(var(--black-color-hsl), 1))
}

.content-visibility-auto {
  content-visibility: auto;
}

.nav-hidden > .content-wrapper {
  left: 0 !important;
  width: 100% !important;
}

.fill-1 {
  font-variation-settings: 'FILL' 1;
  transition: color .8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.favourite {
  animation: favourite_glow 1s ease-in-out infinite alternate;
  will-change: drop-shadow;
}
@keyframes favourite_glow {
  from { filter: drop-shadow(0 0 1.5rem var(--tertiary-color)) }
  to { filter: drop-shadow(0 0 0.4rem var(--tertiary-color)) }
}

@keyframes pink_glow {
  from { filter: drop-shadow(0 0 1rem var(--quattuordenary-color)); }
  to { filter: drop-shadow(0 0 0.5rem var(--quattuordenary-color)); }
}
@keyframes purple_glow {
  from { filter: drop-shadow(0 0 2rem var(--notify-color)); }
  to { filter: drop-shadow(0 0 0.2rem var(--notify-color)); }
}
@keyframes bell_shake {
  0%, 7.5% { transform: rotate(0deg); }
  1.5% { transform: rotate(-15deg); }
  3% { transform: rotate(15deg); }
  4.5% { transform: rotate(-10deg); }
  6% { transform: rotate(10deg); }
}

.load-in {
  animation: .4s ease 0s 1 load-in;
  will-change: transform;
}
@keyframes load-in {
  0% { transform: translateY(1.5rem) scale(0.98) }
  60% { transform: translateY(-0.25rem) scale(1.015) }
  100% { transform: none }
}

@keyframes skeleton-swipe {
  0% { transform: translateX(-100%) }
  100% { transform: translateX(100%) }
}

.bg-ske {
  background-color: var(--skeleton-swipe-background) !important;
}

.skeloader {
  position: relative;
  overflow: hidden;
  background-color: hsl(var(--dark-color-hsl));
}

.skeloader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, hsla(var(--dark-color-hsl), 0.5) 50%, transparent 100%);
  animation: skeleton-swipe 1s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  pointer-events: none;
}

.fade-change {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}


.will-transform {
  will-change: transform;
}

.align-content-start {
  align-content: start;
}

.cover-img {
  object-fit: cover;
}
.cover-color {
  background-color: var(--color) !important;
}
.cover-ratio {
  width: 100%;
  aspect-ratio: 230/331;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.option {
  border: .1rem solid var(--dark-color-dim) !important;
}
@media (hover: hover) and (pointer: fine) {
  .option:hover {
    border: .1rem solid var(--highlight-color) !important;
  }
}

.bt-10 {
  border-top: .10rem var(--border-color-sp) solid !important;
}
.bl-10 {
  border-left: .10rem var(--border-color-sp) solid !important;
}

.pre-wrap {
  white-space: pre-wrap
}

.p-3 {
  padding: .3rem;
}
.p-4 {
  padding: .4rem;
}
.p-30 {
  padding: 3rem;
}
.pr-30 {
  padding-right: 3rem;
}
.pl-30 {
  padding-left: 3rem;
}
.pl-40 {
  padding-left: 4rem;
}
.pt-60 {
  padding-top: 6rem !important;
}
.pb-60 {
  padding-bottom: 6rem !important;
}

.py-6px {
  padding: 0 6px;
}
.py-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-40 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.mr--8 {
  margin-right: -.8rem !important;
}
.mr--10 {
  margin-right: -1rem !important;
}
.mr-30 {
  margin-right: 3rem !important;
}
.mr-40 {
  margin-right: 4rem !important;
}
.mr-50 {
  margin-right: 5rem;
}

.opacity-transition-hack {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

.dr-arrow, .dmr-arrow {
  z-index: 0;
}
.dr-arrow::after, .dmr-arrow::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-style: solid;
    border-color: transparent;
}
.dr-arrow::after {
    bottom: -.8rem;
    right: 1.2rem;
    border-left-width: 1rem;
    border-right-width: 1rem;
    border-top-width: 1rem;
    border-top-color: var(--dark-color-dim);
    border-bottom-width: 0;
}
.dmr-arrow::after {
    top: .7rem;
    right: -.9rem;
    border-top-width: 1rem;
    border-bottom-width: 1rem;
    border-left-width: 1rem;
    border-left-color: var(--dark-color-dim);
    border-right-width: 0;
}

.br-10 {
  border-right: .10rem var(--border-color-sp) solid !important;
}

.radius-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.radius-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-5 {
  border-radius: .5rem;
}
.rounded-10 {
  border-radius: 1rem !important;
}
.rounded-top-10 {
  border-radius: 1rem 1rem 0 0;
}

.rounded-bottom-6 {
    border-radius: 0 0 .6rem .6rem;
}

.bd-highlight {
  border: .1rem solid transparent;
}
@media (hover: hover) and (pointer: fine) {
  .bd-highlight:hover {
    border: .1rem solid var(--highlight-color) !important;
  }
}

.muted {
  color: var(--gray-color-light) !important
}
@media (hover: hover) and (pointer: fine) {
  .muted:hover {
    color: var(--highlight-color) !important
  }
}

@media (hover: hover) and (pointer: fine) {
  button:not([disabled]), input:not([disabled]), input:not([disabled]):not(.input-group input, .long-input), .input-group:not(:has(input:disabled)):not(:has(input.long-input)):not(.long-input), .icon.text-white:not([disabled]) > svg, .icon.text-dark-light:not([disabled]) > svg, .button:not([disabled]) > svg, .custom-switch:not([disabled]), .form-control:not([disabled], .long-input), .progressive:not([disabled]), .long-input:not([disabled]), .long-button:not([disabled]) {
    transition: scale 0.2s ease;
  }
  button.bg-dark:not([disabled]):hover {
    background: var(--dark-color-light) !important;
  }
  button.bg-dark-light:not([disabled]):hover {
    background: var(--dark-color-very-light) !important;
  }
  .progressive:not([disabled]):hover {
    background: var(--gray-color-light) !important;
  }
  .icon.text-white:not([disabled]):hover, .icon.text-muted:not([disabled]):hover > svg, .button:not([disabled]):hover > svg {
    color: var(--white-color-dim) !important;
  }
  .icon.text-dark-light:not([disabled]):hover > svg {
    color: var(--white-color-very-dim) !important;
  }
  .icon.text-white:not([disabled]):hover > svg, .icon.text-dark-light:not([disabled]):hover > svg, .button:not([disabled]):hover > svg, .progressive:not([disabled]):hover {
    scale: 1.15;
  }
  button:not([disabled], .long-button):hover {
    scale: 1.04;
  }
  .long-button:not([disabled]):hover {
    scale: 1.01;
  }
  .custom-switch:not([disabled]):hover {
    scale: 1.05;
  }
  button.btn-square:not([disabled]):hover {
    scale: 1.1;
  }
  input:not([disabled]):not(.input-group input, .long-input):hover, .form-control:not([disabled], .input-group input, .long-input):hover {
    scale: 1.02;
  }
  .input-group:hover:not(:has(input:disabled)):not(:has(input.long-input)):not(.long-input) {
    scale: 1.02;
  }
  .long-input:not([disabled]):hover {
    scale: 1.01;
  }
}